<div class="col-sm-12 center">
	<h2 class="title_map"><b></b> Buscador Avanzado</h2>
	<p>Busca información utilizando múltiples filtros</p>
</div>
<div class="col-sm-12">
	<div class="advanced_s">
		<div class="box">
			<form id="GF-SHCP-search-tools-form">
			  
			  <!-- filters  -->
			  <div id="GF-SHCP-search-app-filter-list" class="row"></div>
			  <!-- options -->
			  <div class="row">
				  <div class="col-sm-6">
				  	<p><input type="text" id="GF-SHCP-search-app-query"></p>
				  </div>
				  <div class="col-sm-6">
				  	<p><a href="#" id="GF-SHCP-search-app-download" class="btn">descargar</a></p>
				  </div>
			  </div>
			</form>    
		</div>
		  
		<!-- current filters -->
		<div class="col-sm-12">
			<ul id="GF-SHCP-search-app-filters" class="cart-list"></ul>
		</div>
		<div class="clearfix"></div>
		
		<div class="box">
			<div class="bootstrap-table">
				<table class="table">
				  <thead></thead>
				  <tbody></tbody>
				</table>
			</div>
			
			<div class="divider"></div>
		
		<form id="GF-SHCP-search-pagination-form">
			<div class="box center">
			<p class="pagination-info">
			  Página <input type="number" name="page" id="GF-SHCP-SEARCH-CONTROL-PAGE"> de <span id="GF-SHCP-SEARCH-LABEL-PAGE-TOTAL"></span>
			</p>
			<ul class="pagination">
			  <li class="page-number"><a href="#" id="GF-SHCP-SEARCH-CONTROL-PREV" class="btn">&lt; Anterior</a></li>
			  <li class="page-number"><a href="#" id="GF-SHCP-SEARCH-CONTROL-NEXT" class="btn">Siguiente &gt;</a></li>
			</ul>
			</div>
		</form>
		</div>
		
	</div>
</div>