<form>
  <!-- options -->
  <p><input type="text" id="GF-SHCP-search-app-query"></p>
  <p><a href="#">descargar</a></p>
  <!-- filters  -->
  <div id="GF-SHCP-search-app-filter-list"></div>
</form>    

  
<!-- current filters -->
<ul id="GF-SHCP-bars-app-single-location-selected-filters" class="cart-list"></ul>




<table>
  <thead></thead>
  <tbody></tbody>
</table>



<form>
  <p>
    página <input type="number" name="page" id="GF-SHCP-SEARCH-CONTROL-PAGE"> de <span id="GF-SHCP-SEARCH-LABEL-PAGE-TOTAL"></span>
  </p>
  <p>
    <a href="#" id="GF-SHCP-SEARCH-CONTROL-PREV">anterior</a>
    <a href="#" id="GF-SHCP-SEARCH-CONTROL-NEXT">siguiente</a>
  </p>
</form>

