<div class="col-sm-12 center">
	<h2 class="title_map"><b></b> Buscador Avanzado</h2>
	<p>Busca información utilizando múltiples filtros</p>
</div>
<div class="col-sm-12">
	<div class="advanced_s">
		<div class="box">
			<form id="GF-SHCP-search-tools-form">
			  
			  <!-- filters  -->
			  <div id="GF-SHCP-search-app-filter-list" class="row"></div>
			  <!-- options -->
			  <div class="row">
				  <div class="col-sm-6">
				  	<p><input type="text" id="GF-SHCP-search-app-query"></p>
				  </div>
				  <div class="col-sm-6">
				  	<p><a href="#" id="GF-SHCP-search-app-download" class="btn">descargar</a></p>
				  </div>
			  </div>
			</form>    
		</div>
		  
		<!-- current filters -->
		<ul id="GF-SHCP-search-app-filters" class="cart-list"></ul>
		
		
		<div class="box">
			<table>
			  <thead></thead>
			  <tbody></tbody>
			</table>
		</div>
		
		
		<form id="GF-SHCP-search-pagination-form">
		  <p>
		    página <input type="number" name="page" id="GF-SHCP-SEARCH-CONTROL-PAGE"> de <span id="GF-SHCP-SEARCH-LABEL-PAGE-TOTAL"></span>
		  </p>
		  <p>
		    <a href="#" id="GF-SHCP-SEARCH-CONTROL-PREV">anterior</a>
		    <a href="#" id="GF-SHCP-SEARCH-CONTROL-NEXT">siguiente</a>
		  </p>
		</form>
	</div>
</div>