<!-- SINGLE LOCATION -->
<form id="GF-SHCP-bars-app-single-location">
  <!-- location -->
  <p>
    <select name="state" id="GF-SHCP-bars-app-single-location-state"></select>
  </p>

  <p>
    <select name="city" id="GF-SHCP-bars-app-single-location-city"></select>
  </p>

  <p>
    <a href="#" id="GF-SHCP-bars-app-single-location-select-btn">Seleccionar</a>
  </p>

  <!-- current filters -->
  <ul id="GF-SHCP-bars-app-single-location-selected-filters"></ul>
  <!-- filters  -->
  <div id="GF-SHCP-bars-app-single-location-filter-list">
    
  </div>
  <p><a href="#" id="GF-SHCP-bars-app-single-location-add-bar-btn">Agregar</a></p>


</form>



<!-- MULTIPLE LOCATIONS  -->
<form id="GF-SHCP-bars-app-multiple-locations">
  <!-- filters  -->
  <div>
    
  </div>

  <!-- current filters -->
  <ul></ul>
  
  <!-- location -->
  <p>
    <select name="state"></select>
  </p>

  <p>
    <select name="city"></select>
  </p>

  <p>
    <input type="submit" name="agregar">
  </p>
</form>