<section id="GF-SHCP-GRAPHS-A" style="display: none;">
	<form class="GF-SHCP-GRAPHS-controls"></form>
	<ul class="cart-list"></ul>
	<canvas width="500" height="500"></canvas>
</section>

<section id="GF-SHCP-GRAPHS-B" style="display: none;">
	<form class="GF-SHCP-GRAPHS-controls"></form>
	<ul class="cart-list"></ul>
	<canvas width="500" height="500"></canvas>
</section>

<section id="GF-SHCP-GRAPHS-C" style="display: none;">
	<form class="GF-SHCP-GRAPHS-controls"></form>
	<ul class="cart-list"></ul>
	<canvas width="500" height="500"></canvas>
</section>

<section id="GF-SHCP-GRAPHS-D" style="display: none;">
  <form class="GF-SHCP-GRAPHS-controls"></form>
  <ul class="cart-list"></ul>
	<canvas width="500" height="500"></canvas>
</section>