<form>
  <div id="GF-SHCP-CONTAINER-FILTERS">
    <div id="GF-SHCP-CONTROL-YEAR">
      <h3><label for="gf-year">Año </label></h3>
      <select name="gf-year"></select>
    </div>

    <div id="GF-SHCP-CONTROL-STATE">
      <h3><label for="gf-state">Estado </label></h3>
      <select name="gf-state"></select>
    </div>

    <div id="GF-SHCP-CONTROL-CITY">
      <h3><label for="gf-city">Municipio </label></h3>
      <select name="gf-city"></select>
    </div>

    <div id="GF-SHCP-CONTROL-BRANCH">
      <h3><label for="gf-branch">Ramo </label></h3>
      <select name="gf-branch"></select>
    </div>

    <div id="GF-SHCP-CONTROL-UNIT">
      <h3><label for="gf-unit">Ejecutor </label></h3>
      <select name="gf-unit"></select>
    </div>
  </div>

  <div id="GF-SHCP-CONTAINER-EXTRA-FILTERS">
  </div>
</form>