<form>
  <div id="GF-SHCP-CONTAINER-FILTERS">
    <p id="GF-SHCP-CONTROL-YEAR">
      <h3><label for="ge-year">Año </label></h3>
      <select name="gf-year"></select>
    </p>

    <p id="GF-SHCP-CONTROL-STATE">
      <h3><label for="ge-state">Estado </label></h3>
      <select name="gf-state"></select>
    </p>

    <p id="GF-SHCP-CONTROL-BRANCH">
      <h3><label for="ge-state">Ramo </label></h3>
      <select name="gf-branch"></select>
    </p>
  </div>

  <div id="GF-SHCP-CONTAINER-EXTRA-FILTERS">
  </div>
</form>