<form>
  <div id="GF-SHCP-CONTAINER-FILTERS">
    <div id="GF-SHCP-CONTROL-YEAR">
      <h3><label for="ge-year">Año </label></h3>
      <select name="gf-year"></select>
    </div>

    <div id="GF-SHCP-CONTROL-STATE">
      <h3><label for="ge-state">Estado </label></h3>
      <select name="gf-state"></select>
    </div>

    <div id="GF-SHCP-CONTROL-BRANCH">
      <h3><label for="ge-state">Ramo </label></h3>
      <select name="gf-branch"></select>
    </div>
  </div>

  <div id="GF-SHCP-CONTAINER-EXTRA-FILTERS">
  </div>
</form>