<form>
  <!-- El selector de mapas -->
  <h3><label>Selecciona un mapa</label></h3>
  <p><select></select></p>
  <!-- el nivel a desplegar -->
  <h3>Selecciona vista</h3>
  <ul class="desplegar">
    <li><a href="#" class="" data-value="state">Estatal</a></li>
    <li><a href="#" class="" data-value="city">Municipal</a></li>
  </ul>

  <!-- el geolocalizador -->
  <h3>Buscar CP o estado:</h3>
    <input type="text" name="geolocation" id="GF-SHCP-geolocation-input" class="inputs">

  <!-- el botón de ubicación -->
  <h3>Usar tu ubicación</h3>
   <p> <a href="#" id="GF-SHCP-geolocate-user" class="btn_location">ubícame</a>
  </p>
</form>