<form>
  <!-- El selector de mapas -->
  <h3><label>Selecciona un mapa</label></h3>
  <p><select></select></p>
  <!-- el nivel a desplegar -->
  <h3>Selecciona vista</h3>
  <ul class="desplegar">
    <li><a href="#" class="" data-value="state">Estatal</a></li>
    <li><a href="#" class="" data-value="city">Municipal</a></li>
  </ul>

  <!-- el geolocalizador -->
  <p>
    <input type="text" name="geolocation" id="GF-SHCP-geolocation-input">
  </p>

  <!-- el botón de ubicación -->
  <p>
    <a href="#" id="GF-SHCP-geolocate-user">ubícame</a>
  </p>

  <!-- el selector de layers extra -->
</form>