<form>
  <!-- El selector de mapas -->
  <p>
    <label>Selecciona un mapa</label>
    <select></select>
  </p>

  <!-- el nivel a desplegar -->
  <ul>
    <li><a href="#" class="" data-value="state">Estados</a></li>
    <li><a href="#" class="" data-value="city">Municipios</a></li>
  </ul>

  <!-- el geolocalizador -->
  <p>
    <input type="text" name="geolocation" id="GF-SHCP-geolocation-input">
  </p>

  <!-- el botón de ubicación -->
  <p>
    <a href="#" id="GF-SHCP-geolocate-user">ubícame</a>
  </p>
</form>