<form>
	<div class="row">
		<div class="col-sm-12">
			<h3>Paginación</h3>
			
			  Página <input type="number" name="page" id="GF-SHCP-CONTROL-PAGE"> de <span id="GF-SHCP-LABEL-PAGE-TOTAL"></span>
			
		</div>
		<div class="col-sm-6">
			 <a href="#" id="GF-SHCP-CONTROL-PREV"  class="btn more">&lt; Anterior</a>
		</div>
		<div class="col-sm-6 right">
			<a href="#" id="GF-SHCP-CONTROL-NEXT" class="btn more">Siguiente &gt;</a>
		</div>
		<div class="col-sm-12">
		<div class="divider"></div>
		</div>
	</div>
</form>